src/test/resources/test.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:org.scalawag.sdom:test"
           xmlns="urn:org.scalawag.sdom:test"
           elementFormDefault="qualified">

  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="a" type="xs:int"/>
        <xs:element name="b" type="xs:string" maxOccurs="3"/>
        <xs:element name="c" type="xs:int"/>
     </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
